<h1>login</h1>
<form action="" method="post" (ngSubmit)="submitState('a')">
    <div>
        <fieldset class="loginFieldset">
            <legend>로그인</legend>
            <ul class="loginUL">
                <li>
                    <label for="userid">사용자명 </label>
                    <input type="text" id="userid" title="사용자명" [value]="localState.value" (input)="localState.value = $event.target.value">
                    <!-- <input type="text" id="userid" title="사용자명" (input)="localState.value = $event.target.value"> -->
                    <!-- [value]="localState.value" -->
                    <!-- [(ngModel)]="localState.value" -->
                </li>
                <li>
                    <label for="pass">비밀번호 </label><input type="password" id="pass" title="비밀번호">
                </li>
                <li>
                    <input type="submit" class="loginButton" value="로그인">
                </li>
                <li>
                    <pre>this.localState = {{ localState | json }}</pre>
                </li>
            </ul>
        </fieldset>
    </div>
</form>