html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif
  }
  
  a.active {
    background-color: gray;
  }
  
  .loginButton {
    width:243px;
    height:40px;
  }

  .loginUL {
    list-style-type:none;
  }

  .loginFieldset {
    width:350px;
  }
  